In [1]:
import numpy as np
import pandas as pd
import re
from tqdm import tqdm
import datetime as datetime

# BPI Challenge 2012

In [50]:
df_12 = pd.read_csv("BPI_Challenge_2012.csv", parse_dates = ['time:timestamp'])

In [11]:
df_12.describe(include='all')

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
count,262200.000000,244190.000000,262200,262200,262200,262200,262200.000000,262200.000000
unique,NaN,NaN,3,24,248189,13087,NaN,NaN
top,NaN,NaN,COMPLETE,W_Completeren aanvraag,2012-01-05 10:01:25.057000+01:00,2011-11-15 13:42:45.592000+01:00,NaN,NaN
freq,NaN,NaN,164506,54850,4,175,NaN,NaN
mean,131099.500000,8943.364687,NaN,NaN,NaN,NaN,193811.496754,15586.795381
std,75690.764628,4242.517645,NaN,NaN,NaN,NaN,11668.794018,12381.430915
min,0.000000,112.000000,NaN,NaN,NaN,NaN,173688.000000,0.000000
25%,65549.750000,10609.000000,NaN,NaN,NaN,NaN,183277.000000,6500.000000
50%,131099.500000,10931.000000,NaN,NaN,NaN,NaN,194206.000000,11000.000000
75%,196649.250000,11122.000000,NaN,NaN,NaN,NaN,203802.000000,20000.000000
max,262199.000000,11339.000000,NaN,NaN,NaN,NaN,214376.000000,99999.000000

## 2012 dataset attributes

**org:resource** -  integer or NaN (identifies some instance)

**lifecycle:transition** - status of request (COMPLETE/START/SCHEDULE)

**concept:name** - type of request (?)

**time:timestamp** 

**case:REG_DATE** - registration date (== first timestamp)

**case:concept:name** - integer - identifies the case?

**case:AMOUNT_REQ** - loan amount applied for (single for the whole case)

# BPI Challenge 2017

In [49]:
df_2017 = pd.read_csv("BPI Challenge 2017.csv", parse_dates = ['time:timestamp'])

In [31]:
df_2017.describe(include='all')

/var/folders/lh/s2l49w850tq2lvbfyqst82j00000gn/T/ipykernel_4265/1223815370.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_2017.describe(include='all')

,Unnamed: 0,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
count,1.202267e+06,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1.202267e+06,42995.000000,42995.000000,42995,42995.000000,42995,42995.000000,42995.000000,150854
unique,NaN,5,149,26,3,1202267,7,1202209,14,2,31509,NaN,NaN,NaN,2,NaN,2,NaN,NaN,42995
top,NaN,statechange,User_1,W_Validate application,Workflow,Application_652823628,complete,2016-07-04 13:54:42.993000+00:00,Car,New credit,Application_2037628374,NaN,NaN,NaN,True,NaN,True,NaN,NaN,Offer_148581083
freq,NaN,358940,148404,209496,768823,1,475306,2,339798,1083767,180,NaN,NaN,NaN,30136,NaN,21768,NaN,NaN,4
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:51:15.304000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-01 14:11:03.499000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,6.011330e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.675947e+04,8394.338979,83.041982,NaN,281.403309,NaN,318.645912,18513.719940,NaN
std,3.470647e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.572320e+04,10852.443358,36.386199,NaN,192.577735,NaN,433.706216,13718.507416,NaN
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,5.000000,NaN,43.050000,NaN,0.000000,5000.000000,NaN
25%,3.005665e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000e+03,0.000000,56.000000,NaN,152.820000,NaN,0.000000,8800.000000,NaN
50%,6.011330e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.400000e+04,5000.000000,77.000000,NaN,244.520000,NaN,0.000000,15000.000000,NaN
75%,9.016995e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+04,12000.000000,120.000000,NaN,350.000000,NaN,848.000000,25000.000000,NaN
max,1.202266e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000e+05,75000.000000,180.000000,NaN,6673.830000,NaN,1145.000000,75000.000000,NaN

In [46]:
df_2017['Accepted'].unique()

array([nan, True, False], dtype=object)

## 2017 dataset attributes

1. **Action** - 'Created', 'statechange', 'Deleted', 'Obtained', 'Released'

2. **org:resource** -  149 unique User names

3. **concept:name** - 'A_Create Application', 'A_Submitted', 'W_Handle leads', 'W_Complete application', 'A_Concept', 'A_Accepted', 'O_Create Offer', 'O_Created', 'O_Sent (mail and online)', 'W_Call after offers', 'A_Complete', 'W_Validate application', 'A_Validating', 'O_Returned', 'W_Call incomplete files', 'A_Incomplete', 'O_Accepted', 'A_Pending', 'A_Denied', 'O_Refused', 'O_Cancelled', 'A_Cancelled', 'O_Sent (online only)', 'W_Assess potential fraud', 'W_Personal Loan collection', 'W_Shortened completion '  --> ***much more clear than in 2012 dataset!!***
  
4. **EventOrigin** - 'Application', 'Workflow', 'Offer'

5. **EventID** - format:Application_652823628 - every entry unique - key

6. **lifecycle:transition** - 'complete', 'schedule', 'withdraw', 'start', 'suspend', 'ate_abort', 'resume' --> ***2017 has 7 states, 2012 only 3***
       
7. **time:timestamp**

8. **case:LoanGoal** - what is the loan for (14 unique values)

9. **case:ApplicationType** - 'New credit', 'Limit raise'

10. **case:concept:name** - (probably) identifies whole individual cases

11. **case:RequestedAmount**

12. **FirstWithdrawalAmount** - only where request accepted - else, NaN

13. **NumberOfTerms** - only where request accepted

14. **Accepted** - bool (***more straightforward than in 2012***) - but can be nan

15. **MonthlyCost** - only where request accepted

16. **Selected** - only where request accepted

17. **CreditScore** - only where request accepted

18. **OfferedAmount** - only where request accepted

19. **OfferID** - identifies an offer, there are as many unique vals as there are accepted requests

# BPI Challenge 2018

In [51]:
df_2018 = pd.read_csv("BPI Challenge 2018.csv", parse_dates = ['time:timestamp'])

In [47]:
df_2018.describe(include='all')

,Unnamed: 0,success,org:resource,docid_uuid,doctype,subprocess,docid,activity,note,eventid,...,case:concept:name,case:penalty_amount1,case:payment_actual1,case:amount_applied1,case:penalty_amount2,case:payment_actual2,case:amount_applied2,case:penalty_amount3,case:payment_actual3,case:amount_applied3
count,2.514266e+06,2514266,2514266,2514266,2514266,2514266,2.514266e+06,2514266,2508880,2.396132e+06,...,2514266,262017.000000,262017.000000,262017.000000,22550.000000,22550.000000,22550.000000,2250.000000,2250.000000,2250.000000
unique,NaN,2,165,225270,8,8,NaN,41,137,NaN,...,43809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,True,727350,8A28496E-4393-41BA-96BA-FC6F353F1028,Payment application,Application,NaN,calculate,none,NaN,...,93deb55be9aed2be,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2481899,748950,780,984613,928091,NaN,466141,1233571,NaN,...,2973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.257132e+06,NaN,NaN,NaN,NaN,NaN,-3.734307e+16,NaN,NaN,-5.646112e+16,...,NaN,732.043284,137.124164,67727.301910,1214.824002,-87.904554,84399.241773,933.088991,-159.811173,116160.225040
std,7.258062e+05,NaN,NaN,NaN,NaN,NaN,2.664162e+16,NaN,NaN,4.058381e+16,...,NaN,1984.368225,2299.169823,118248.981412,2802.493763,2299.845439,130932.451572,980.497580,365.918051,157547.621602
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,-1.441092e+17,NaN,NaN,-1.621238e+17,...,NaN,0.000000,-11945.800000,0.000000,0.000000,-17421.930000,0.000000,0.000000,-841.240000,35253.720000
25%,6.285662e+05,NaN,NaN,NaN,NaN,NaN,-5.403729e+16,NaN,NaN,-9.006608e+16,...,NaN,70.500000,-245.850000,19262.490000,194.770000,-364.810000,21250.650000,372.990000,-378.300000,35253.720000
50%,1.257132e+06,NaN,NaN,NaN,NaN,NaN,-1.800862e+16,NaN,NaN,-5.403716e+16,...,NaN,187.390000,-121.820000,36134.210000,450.840000,0.000000,42166.720000,502.080000,-346.720000,50436.050000
75%,1.885699e+06,NaN,NaN,NaN,NaN,NaN,-1.800852e+16,NaN,NaN,-1.800853e+16,...,NaN,541.290000,0.000000,62578.540000,1008.320000,0.000000,91970.100000,921.940000,0.000000,150697.100000
max,2.514265e+06,NaN,NaN,NaN,NaN,NaN,1.801499e+17,NaN,NaN,3.602939e+17,...,NaN,31241.380000,35716.710000,608980.200000,31241.390000,18186.340000,587833.230000,3314.650000,786.370000,587261.110000

## 2018 dataset attributes

In general, the structre is similar but there are much more detailed attributes about each case. There are more identifiers (but hard to tell at first glance what they are for). There is the distinctions for amount applied, penalties, payments - they indicate if someone paid the whole expected sum, if there was a penalty (probably for a delay in payment) etc.

# Road Traffic Fine Management Process

In [7]:
df_traffic = pd.read_csv("Road_Traffic_Fine_Management_Process.csv", parse_dates = ['time:timestamp'])

df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561470 entries, 0 to 561469
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            561470 non-null  int64
 1   amount                230230 non-null  float64
 2   org:resource          150925 non-null  float64
 3   dismissal             155066 non-null  object
 4   concept:name          561470 non-null  object
 5   vehicleClass          150370 non-null  object
 6   totalPaymentAmount    227971 non-null  float64
 7   lifecycle:transition  561470 non-null  object
 8   time:timestamp        561470 non-null  object
 9   article               150370 non-null  float64
 10  points                150370 non-null  float64
 11  case:concept:name     561470 non-null  object
 12  expense               103987 non-null  float64
 13  notificationType      79860 non-null   object
 14  lastSent              78229 non-null   object
 15  paymentAmount         77601 non-null   float64
 16  matricola             555 non-null     float64
dtypes: float64(8), int64(1), object(8)
memory usage: 72.8+ MB

In [14]:
df_traffic.describe(include='all')

,Unnamed: 0,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola
count,561470.000000,230230.000000,150925.000000,155066,561470,150370,227971.000000,561470,561470,150370.000000,150370.000000,561470,103987.000000,79860,78229,77601.000000,555.0
unique,NaN,NaN,NaN,26,11,4,NaN,1,4905,NaN,NaN,150370,NaN,2,3,NaN,NaN
top,NaN,NaN,NaN,NIL,Create Fine,A,NaN,complete,2002-04-10 00:00:00+02:00,NaN,NaN,C20817,NaN,P,P,NaN,NaN
freq,NaN,NaN,NaN,152484,150370,146712,NaN,561470,9197,NaN,NaN,20,NaN,79726,46476,NaN,NaN
mean,280734.500000,63.681656,443.611383,NaN,NaN,NaN,17.815604,NaN,NaN,113.246658,0.078879,NaN,11.948984,NaN,NaN,46.410027,0.0
std,162082.572158,89.677991,300.505385,NaN,NaN,NaN,36.779382,NaN,NaN,68.219475,0.577687,NaN,4.023190,NaN,NaN,39.345561,0.0
min,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,7.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.0
25%,140367.250000,33.600000,50.000000,NaN,NaN,NaN,0.000000,NaN,NaN,7.000000,0.000000,NaN,10.000000,NaN,NaN,33.600000,0.0
50%,280734.500000,38.000000,541.000000,NaN,NaN,NaN,0.000000,NaN,NaN,157.000000,0.000000,NaN,11.880000,NaN,NaN,36.000000,0.0
75%,421101.750000,71.500000,561.000000,NaN,NaN,NaN,35.000000,NaN,NaN,157.000000,0.000000,NaN,13.500000,NaN,NaN,44.670000,0.0
max,561469.000000,8000.000000,870.000000,NaN,NaN,NaN,4021.000000,NaN,NaN,401.000000,10.000000,NaN,76.000000,NaN,NaN,3975.000000,0.0

In [23]:
df_traffic['matricola'].unique()

array([nan,  0.])

## Italian road

**org:resource** -  integer or NaN (identifies some instance)

**dismissal** - NIL, nan, #, G, N, K, 5, '3', 'A', 'I', 'D', 'T', 'E', '@', 'M', 'Q', 'F', 'V', 'U', 'C', 'B', '$', 'Z', 'J', 'R', '2', '4'

**concept:name** - 'Create Fine', 'Send Fine', 'Insert Fine Notification', 'Add penalty', 'Send for Credit Collection', 'Payment', 'Insert Date Appeal to Prefecture', 'Send Appeal to Prefecture', 'Receive Result Appeal from Prefecture', 'Notify Result Appeal to Offender', 'Appeal to Judge'

**vehicleClass** - 'A', nan, 'C', 'M', 'R'

**totalPaymentAmount** - fine amount - most are 0

**lifecycle:transition** - all are "complete"

**time:timestamp** - 4905 unique - number of cases

**article** - integer - probably signifies the type of offense

**points** - loan ammount applied for (single for the whole case)

**case:concept:name** - identifies case stages????

**expense**

**notificationType** - nan, 'P', 'C'

**lastSent** - nan, 'P', 'N', 'C'

**paymentAmount** - how is it different from totalPaymentAmount??

**matricola** - nan or 0. - probably irrelevant

--> in general, the values are less intuitive and seem less structured than in the BPI datasets